@font-face {
    font-family: 'Inter medium';
    src: url('./Inter-Medium.woff');
}

* {
    padding: 0;
    margin: 0;

    font-family: 'Inter medium';
    list-style: none;
    text-decoration: none;
}

*,*:before,*:after {
    box-sizing: border-box;
}

:root {
    --primaryColor:#d65e78;
    --lightColor:#ff8fa7;
    --darkColor:#a12d4c;
    --lowPriority:rgb(30, 226, 30);
    --moderatePriority:rgb(255, 238, 0);
}

body {
    display:grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: max(6em,15%) auto;
}

.header {
    text-align: center;
    font-weight: 900;
}

.modalBg {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.6);
    position:fixed;
    z-index: 3;
    
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
}

.modalContainer {
    display: flex;
    background-color: white;
    border-radius: 1em;
    padding: 2em;
    position: absolute;
}

li input,li textarea{
    width: 100%;
}

.addTaskModal li:last-child, .editTaskModal li:last-child {
    margin: 0 auto;
}

li:last-child>button {
    padding: .25em .75em;
    margin: .5em;
}

.newTaskHeader,.editTaskHeader {
    font-size: 1.3rem;
}

.addTaskModal,.editTaskModal,.infoPanelContainer {
    display: none;
}

.modalCornerButton {
    position: absolute;
    top:1.5em;
    right: 2em;
    padding: .2em .5em;
}

.modalBg ul {
    display: flex;
    flex-direction: column;
    gap:1em;
}

.listNameContainer, .addListButton{
    margin: 0 auto;
}

.headerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/-1;

    background-color: var(--darkColor);
}

.pageHeader {
    grid-column: 2;

    color:white;
    font-size: 3rem;
    text-align: center;

    min-width: 150px;
    padding: .5em 0;
}

.sidebarContainer {
    background-color: var(--lightColor);
}

.sidebarHeader {
    background-color: var(--primaryColor);
    font-size: 1.2rem;
    padding: .5em 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap:.5em;

    background-color: var(--lightColor);
    text-align: center;
}

.sidebar li {
    padding: .75em;
}

.sidebarItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 2.65rem;
    position: relative;
    text-align: left;
}

.sidebarItemContainer div {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.sidebarItemContainer div:first-child{
    max-width: max(80px,90%);
    word-wrap: break-word;
}

.sidebarItemContainer.active {
    background-color: var(--darkColor);
    color: white;
    text-decoration: underline;
}

.saveButton>img{
    height: 90%;
    position:relative;
    top:5%;
}

.listNameContainer {
    display: flex;
    align-items: center;
    gap: .25em;

    position: absolute;
    z-index: 2;
}

.taskButtonContainer {
    display: flex;
}

.sidebarItemContainer .buttonOverlay {
    display: flex;

    position: absolute;
    right:5%;

    visibility: hidden;
    z-index: 1;
}

.sidebarItemContainer:hover .buttonOverlay {
    visibility: visible;
}

.sidebar button,.taskButtonContainer button{
    width: 2em;
    min-width: 2em;
    height: 2em;
}

.sidebar .addListButton {
    font-size: 1.2rem;
    background-color: var(--primaryColor);
    border: 0;
    border-radius: .25em;
    color:white;
    height: 1.5em;
    width: 5em;
    margin-top: .7em;
    margin-bottom: 1.25em;
}

.addListButton:hover {
    border: 1px solid white;
}

.sidebar .editButton,.editTaskButton {
    background-color: rgb(113, 255, 100);
}

.sidebar .deleteButton,.deleteTaskButton {
    margin-left: .3em;
    background-color: rgb(255, 78, 78);
}

.buttonOverlay button,.taskButtonContainer button {
    border: none;
    border-radius: 20%;
}

.deleteButton>img,.deleteTaskButton>img{
    position: relative;
    top: 7%;
    height: 80%;
}

.tasklistContainer {
    margin: 1em;
    height: 100%;
    width: 100%;
}

.contentContainer {
    display:flex;
}

.contentHeader {
    display: none;
    background-color: var(--darkColor);
    color: white;
    font-size: 1.25rem;
    padding: 1em 2em;
}

.checklistContainer {
    background-color: white;
}

.checklist {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.taskContainer {
    display: flex;
    gap:.5em;
    align-items: center;
    background-color: var(--lightColor);
    font-size: 1.1rem;
    padding: .5em;
}

.taskContainer:nth-child(even){
    background-color: var(--primaryColor);
}

.taskContainer.checked {
    background-color: gray;
    text-decoration: 2px line-through;
}

.taskContainer.low {
    border-left: 4px solid var(--lowPriority);
}

.taskContainer.moderate {
    border-left: 4px solid var(--moderatePriority);
}

.taskContainer.high {
    border-left: 4px solid red;
}

.taskContainer input {
    height: 1.5em;
    width: 1.5em;
}

.taskName {
    max-width: min(65%,350px);
    word-wrap: anywhere;
}

.taskButtonContainer>button {
    margin: 0 .15rem;
}

.taskDueDate {
    font-size: .75rem;
    margin-left: auto;
}

.addTaskButton {
    display: none;
    background-color: var(--primaryColor);
    border-radius: 5rem;
    border:none;
    color:white;
    height:3.5rem;
    width:3.5rem;

    font-size: 2rem;
    font-weight: 900;
    text-align: center;


    position: fixed;
    bottom:5%;
    right:3vmin;
}

.infoPanelContainer {
    display: none;
    background-color: var(--lightColor);
    margin: 1em;
    min-height: 30%;
    position: relative;
    height: max-content;
    width: 35%;
}

.infoPanelHeader {
    background-color: var(--darkColor);
    color: white;
    font-size: 1.1rem;
    padding: 1em 2em;
    min-height: 3.1rem;
    width: 100%;
}

.infoPanelHeader.low {
    border-bottom: 4px solid var(--lowPriority);
}

.infoPanelHeader.moderate {
    border-bottom: 4px solid var(--moderatePriority);
}

.infoPanelHeader.high {
    border-bottom: 4px solid red;
}

.infoPanelBody {
    padding: 1em;
    word-wrap: break-word;
}

.infoPanelFooter {
    position: absolute;
    bottom: 0;

    background-color: var(--primaryColor);
    width: 100%;
}

.infoPanelDueDate {
    text-align: right;
}

textarea {
    resize: none;
}

.footerContainer {
    grid-column: 1/-1;

    text-align: center;

    background-color: var(--darkColor);
}

.footer {
    color:white;
}